.container {
   font-family: Helvetica;
   margin-right: auto;
   margin-left: auto;
   max-width: 1320px;
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    background-color: #fcf7fa;
    border-radius: 10px;
    column-gap: 10px;

}
.navigation-item {
    margin-top: 10px;
    margin-bottom: 10px;
    color: darksalmon;
a {
  color: darksalmon;
}

a:hover {
  color: hotpink;
}
.active {
    color: #b5370d;
}

}
.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fcf7fa;
    border-radius: 10px;
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px;
}

.product-place {
    width: 210px;
    border: 3px;
    background-color: white;
}
    /*d-flex flex-row flex-wrap justify-content-around bg-light*/

ul {
    list-style-type: none;
}

input.button {
width: 150px;
border: none;
padding: 10px;
background-color: darksalmon;
color: white;
border-radius: 10px;
}
/*style="background-image: url(./images/background.jpg);*/

a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

img {
    align-self: center;
    width: 180px;
}

.comment {
 width: 400px;
 height: 200px;
}

.setting {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fcf7fa;
    border-radius: 10px;
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px;
    row-gap: 20px;
}
